<ion-view title="Quest Builder" hide-nav-bar="true">
	<ion-content>
        <form name="credentialform" novalidate>
            <div class="revhr-credential-container">
                <!-- ROW 1-->
                <div class="row">
                    <div class="col">
                        &nbsp;
                    </div>
                </div>
                <!-- ROW 2 - Heading-->
                <div class="row">
                    <div class="col">
                        Change <br />Everything
                    </div>
                </div>

                <!-- ROW 3 - LIST-->
                <div class="list">
                    <label class="item item-input">
                        <input name="email" type="email" placeholder="Email Address" ng-model="model.email" required>
                    </label>
                    <p ng-show="credentialform.email.$error.required && submitted" class="error-message revhr-login">Required field</p>
                    <p ng-show="submitted && credentialform.email.$invalid && !credentialform.email.$error.required" class="error-message revhr-login">Invalid Email</p>
                    <label class="item item-input">
                        <input name="name" type="text" placeholder="Username" ng-model="model.userName" required>
                    </label>
                    <p ng-show="credentialform.name.$error.required && submitted" class="error-message revhr-login">Required field</p>
                    <label class="item item-input">
                        <input name="password" type="password" placeholder="Password (at least 6 characters)" ng-model="model.password" required>
                    </label>
                    <p ng-show="credentialform.password.$error.required && submitted" class="error-message revhr-login">Required field</p>
                    <div>week</div>
                </div>

                <div class="row">
                    &nbsp;
                </div>

                <!-- ROW 5 - Buttons-->
                <div class="row">
                    <div class="col">
                        <button type="submit" class="button button-small button-block button-light revhr-reglogin-button" ng-click="showSuccessPage(credentialform.$valid)">
                            Start Free Trial
                        </button>
                    </div>
                </div>
            </div>
        </form>
	</ion-content>
</ion-view>