<ion-view title="Quest Builder" hide-nav-bar="true">
	<ion-content>
        <div class="revhr-start-container">
            <!-- ROW 1-->
            <div class="row responsive-sm">
                <div class="col">
                    &nbsp;
                 </div>
            </div>
            <!-- ROW 2 - Heading-->
		    <div class="row responsive-sm">
                <div class="col">
                  <div class="revhr-start-head">
                      <img src="./images/login/plusone-small.png">
                      Maximus <span>Life</span>
                  </div>
            
                  <div class="revhr-start-head-desc">
                      maximus: derived from latin for <br />"greatest"
                  </div>
                </div>
            </div>
            <!-- ROW 3-->
		    <div class="row responsive-sm">
              <div class="col">
                  &nbsp;
              </div>
            </div>
            <!-- ROW 4 - Description-->
            <div class="row responsive-sm">
              <div class="col-offset-10">
                  The inspiration and growth platform built by the people for the good of all.
              </div>
            </div>
            <!-- ROW 5 - Buttons-->
            <div class="row responsive-sm">
              <div class="col">
                  <button class="button button-small button-block button-light revhr-reglogin-button" ng-click="showProfileRegPage()">
                      Get Started
                  </button>
                  <hr style="width: 85%; background-color: #3c3f3a" noshade/>
                  <button class="button button-small button-block button-light revhr-reglogin-button" ng-click="showLoginPage()">
                      I Have an Account
                  </button>
              </div>
            </div>
        </div>
	</ion-content>
</ion-view>