<ion-view title="Quest Builder" hide-nav-bar="true">
    <ion-content>
        <div class="revhr-ready-container">
            <!-- ROW 1-->
            <div class="row">
                <div class="col">
                    <img src="./images/login/plusone-large.png">
                </div>
            </div>
            <!-- ROW 2 - Heading-->
            <div class="row">
                <div class="col">
                    100 %
                </div>
            </div>

            <!-- ROW 3 - LIST-->
            <div class="row">
                MaximusLife is on mission to make you the greatest you can be in 100%
                of life while giving to those around you (+1). Built by users, we are
                redefining how people tackle life & work for the good of all.
            </div>

            <div class="row">
                &nbsp;
            </div>

            <!-- ROW 5 - Buttons-->
            <div class="row">
                <div class="col">
                    <button class="button button-small button-block button-light revhr-reglogin-button" ng-click="showStartPage()">
                        I'm Ready
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>