<ion-view title="Quest Builder" hide-nav-bar="true">
    <ion-content>
        <div class="revhr-letsgo-container">
            <!-- ROW 1-->
            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
            </div>

            <!-- ROW 2 -->
            <div class="row">
                MaximusLife is made up of Quest with check-points and weekly check-ins
                leading you to what we call your Summits in life. To reach 100% of your
                potential you need a minimum of 1 quest in each of the 4 categories of
                life.
            </div>

            <!-- ROW 3 -->
            <div class="row">
                &nbsp;
            </div>

            <!-- ROW 4 -->
            <div class="row">
                <div class="col">
                    <button class="button button-small button-block button-light revhr-reglogin-button" ng-click="showLoginPage()">
                        Let's Go
                    </button>
                </div>
            </div>

            <!-- ROW 5 -->
            <div class="row">
                <img src="./images/login/rounded-hills.png">
            </div>

            <!-- ROW 6 -->
            <div class="row">
                &nbsp;
            </div>

            <!-- ROW 7 -->
            <div class="row">
                All the proven science & research on how people reach success is now at 
                your fingertips! life.
            </div>
        </div>
    </ion-content>
</ion-view>