
	<ion-view title="Quest Builder">
		
		<ion-content has-header="true" padding="true">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Username</span>
					<input type="text">
				</label>
				<label class="item item-input">
					<span class="input-label">Password</span>
					<input type="password">
				</label>
			</div>
			<div class="padding">
				<button class="button button-block button-positive">Sign In</button>
			</div>
		</ion-content>
		
		<!--<ion-side-menus>
			
			<ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon icon ion-navicon" ></button>
			</ion-nav-buttons>
			
			<ion-side-menu-content>
				Content!
				<button ng-click="toggleLeftSideMenu()">Toggle Left Side Menu</button>
			</ion-side-menu-content>
			
			<ion-side-menu side="left">
				<a menu-close href="#/home" class="item">Home</a>
				<a menu-close href="#/about" class="item">About</a>
				<a menu-close href="#/profile" class="item">Profile</a>
			<ion-side-menu>
			
		</ion-side-menus>-->
		
	</ion-view>